body{
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
  margin: 0%;
}
.flex-continer{
    display: flex;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 60px;
}
h3{
    font-size: 30px;
}
.color-orange{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left:6%;
}
.half-width-img{
    width: 50%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,rgb(207, 2, 2));
    border-radius: 5px;
    color: aliceblue;
    padding: 7px 40px ;
    font-weight: 700;
    font-size: larger;

}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    padding-bottom: 5%;
}
.resume-button{
    text-decoration: none;
    background-image: linear-gradient(orange,rgb(207, 2, 2));
    color: aliceblue;
    border-radius: 5px;
    padding: 7px 60px;
    font-weight: 700;
    font-size: larger;
}
.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.dream-width-img{
    width: 45%;
    padding-left: 5%;
}
.dream-width{
    width: 50%;
    padding-right: 5%;
}
.experience-area{
    padding-left: 4%;
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-head{
    padding-left: 4%;
}

.experience-item{
    box-shadow: 10px 20px 40px gray;
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 5%;
    margin nav-left: 4%;
}
#full{
    border-left: 20px solid blue;
}
#baby{
    border-left: 20px solid orange;
}
footer p{
    padding-top: 2%;
    font-size: larger;
    padding-bottom: 1%;
    text-align: center;
}